* {
    margin: 0;
    padding: 0;
    font-family: Purisa;

}

.bg-transparent {
    background-color: transparent;
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    border: 1px solid transparent;
    transition: 0.6s ease;
}

ul li a:hover {
    background-color: black;
    color: white;

}

ul li.active a {
    background-color: black;
    color: white;
}





.overlay,
.content {
    position: absolute;
    top: 450px;
    right: 0;
    bottom: 0;
    left: 700px;
}

@media (min-width: 768px) {

    p {
        font-size: 30px;
    }

    h1 {
        color: black;
        font-family: Purisa, cursive;
        font-size: 70px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 1px;
        text-align: center;
    }

    body {

        background-image: url("../img/contact3.jpg");
        background-color: chocolate;
        background-size: 100 200vh;
        background-repeat: no-repeat;
        background-position: center;
    }

}

p {
    font-size: 20px;
}

h1 {
    color: black;
    font-family: Purisa, cursive;
    font-size: 50px;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 10px;
    text-align: center;
    text-shadow: 0px 0px 100px white;

}

body {

    background-image: url("../img/contact3.jpg");
    background-size: 100vh 200vh;
    background-repeat: no-repeat;
    background-position: center;
}