*{
	margin: 0;
	padding: 0;
	font-family: Verenda;

}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
    margin-right: 50px;

}
 
 ul li {
 	display: inline-block;
 }

 ul li a {
 	text-decoration: none;
 	color: white;
     font-size: 30px;
 	padding: 5px 20px;
 	border: 1px solid transparent;
     transition: 0.6s ease;

 }
ul li a:hover{
    background-color: black;
    color:white;
    
}
ul li.active a{
     background-color: black;
    color:white;
}

body{
    margin: auto;
 padding: 0;
    background-image: url("/home/user/Desktop/WEBSITE/img/prod.jpg");
   height: 100vh;
	background-size: cover;
	background-position: center;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
    margin-left: 10px;
  padding: 5px;
}