*{
	margin: 0;
	padding: 0;
	font-family: Purisa;
}

header{
	background-image: url("/home/user/Desktop/WEBSITE/img/veg2.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
    
}
 
 ul li {
 	display: inline-block;
 }

 ul li a {
 	text-decoration: none;
 	color: black;
     font-size: 30px;
 	padding: 5px 20px;
 	border: 1px solid transparent;
     transition: 0.6s ease;

 }
ul li a:hover{
    background-color: black;
    color:white;
    
}
ul li.active a{
     background-color: black;
    color:white;
}

.main{
    max-width: 1200px;
    margin: auto;
    
}

.button{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.btn{
 
    padding: 10px;
    font-size: 30px;
    color: black;
    text-decoration: none;
    transition: 0.6s ease;
}

.btn:hover{
    background-color: black;
    color:white;
    
}